<img src='https://user-images.githubusercontent.com/6457691/89746244-a6e2a200-daf3-11ea-9314-7863d544d73c.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 2*

# ğŸ“ Assignment

## 1. Feature Engineering

- `KT&G` ê¸°ì—… ë°ì´í„°ë¥¼ ê³„ì† ì‚¬ìš©í•©ë‹ˆë‹¤.
  - ë³€ìˆ˜ ì´ë¦„ì€ `df`ë¡œ ì €ì¥í•˜ì„¸ìš”.

- ê° ë¶„ê¸°ë³„ ì˜ì—…ì´ìµë¥ ì„ ì§ì ‘ ê³„ì‚°í•´ë³´ì„¸ìš”. 
  - Feature ì´ë¦„ì€ `ì˜ì—…ì´ìµë¥ 2` ì…ë‹ˆë‹¤.

- ì•„ë˜ ë°ì´í„°ë¥¼ ì°¸ì¡°í•˜ì—¬ 18/19ë…„ë„ì— ëŒ€í•´ì„œ Price to Dream Ratio (PDR)ì„ ê³„ì‚°í•˜ì„¸ìš”.
  - ë³€ìˆ˜ ì´ë¦„ì€ `df2`, feature ì´ë¦„ì€ `PDR`ë¡œ, `df2['PDR']`ì„ í†µí•´ `~` ê°’ì´ í™•ì¸ ë˜ì–´ì•¼í•©ë‹ˆë‹¤. ì•„ë˜ì˜ ì „ì œì¡°ê±´ì„ í™œìš©í•˜ì„¸ìš”.
  - ì ìœ ìœ¨ (ì¼ë°˜ë‹´ë°° ê¸°ì¤€) 
    - 18ë…„ : 62%
    - 19ë…„ : 63.5% 
  - ì‹œì¥ì˜ ê·œëª¨ 
     - 18ë…„ : 15ì¡° 
     - 19ë…„ : 15ì¡°

||êµ¬ë¶„|ì¢…ê°€|ë°œí–‰ì£¼ì‹ìˆ˜|ì‹œê°€ì´ì•¡|ì‹œì¥ì ìœ ìœ¨|PDR|
|:-:|:-:|:-:|:-:|:-:|:-:|:-:|
|0|18ë…„|101500|137292497|13935188445500|62.0|~|
|1|19ë…„|93800|137292497|12878036218600|63.5|~|

In [ ]:
url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g_0.csv'
headers = ['ë¶„ê¸°', 'ë§¤ì¶œì•¡', 'ì˜ì—…ì´ìµ', 'ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)', 'ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ',
           'ë‹¹ê¸°ìˆœì´ìµ', 'ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)', 'ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)', 'ìì‚°ì´ê³„', 'ë¶€ì±„ì´ê³„',
           'ìë³¸ì´ê³„', 'ìë³¸ì´ê³„(ì§€ë°°)', 'ìë³¸ì´ê³„(ë¹„ì§€ë°°)', 'ìë³¸ê¸ˆ', 'ì˜ì—…í™œë™í˜„ê¸ˆíë¦„',
           'íˆ¬ìí™œë™í˜„ê¸ˆíë¦„', 'ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„', 'ì˜ì—…ì´ìµë¥ ', 'ìˆœì´ìµë¥ ', 'ROE(%)',
           'ROA(%)', 'ë¶€ì±„ë¹„ìœ¨', 'ìë³¸ìœ ë³´ìœ¨', 'EPS(ì›)', 'PER(ë°°)']

In [ ]:
# header ë„£ì–´ì¤Œ
import pandas as pd

df = pd.read_csv(url,header= None) # ì›ë˜ ìˆë˜ ë°ì´í„°ê°€ headerê°€ ë˜ì–´ ì‚¬ë¼ì§€ì§€ ì•Šê²Œ header=None ì¶”ê°€

df.columns = headers # ìœ„ì— ì§€ì •í•œ headerë¥¼ column(header)ë¡œ 
df

      ë¶„ê¸°     ë§¤ì¶œì•¡   ì˜ì—…ì´ìµ ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ...   ë¶€ì±„ë¹„ìœ¨   ìë³¸ìœ ë³´ìœ¨ EPS(ì›)  PER(ë°°)
0   19/6  12,578  3,991      3,991  ...  31.43  803.22  2,351   13.77
1   19/9  13,222  3,825      3,825  ...  24.17  836.86  2,337   13.87
2  19/12  11,982  2,523      2,523  ...  23.04  850.82    873   12.42
3   20/3  11,784  3,150      3,150  ...  29.69  823.16  2,134    9.71
4   20/6  13,188  3,947      3,947  ...  26.91  837.40  2,135   10.46

[5 rows x 25 columns]

In [ ]:
# ë¶„ê¸°ë³„ ì˜ì—…ì´ìµë¥  _ ì˜ì—…ì´ìµë¥ 2

# ì˜ì—…ì´ìµë¥ : ì˜ì—…ì´ìµ/ë§¤ì¶œì•¡

def toInt(string):
  return int(string.replace(',',''))


df['ì˜ì—…ì´ìµ'] = df['ì˜ì—…ì´ìµ'].apply(toInt)
df['ë§¤ì¶œì•¡'] = df['ë§¤ì¶œì•¡'].apply(toInt)

# ì˜ì—…ì´ìµë¥ 2

df['ì˜ì—…ì´ìµë¥ 2'] = round((df['ì˜ì—…ì´ìµ']/df['ë§¤ì¶œì•¡'])*100,2) #ì†Œìˆ˜ì  2ìë¦¬ ì´í•˜ ë°˜ì˜¬ë¦¼

df
df.dtypes

ë¶„ê¸°             object
ë§¤ì¶œì•¡             int64
ì˜ì—…ì´ìµ            int64
ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)     object
ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ       object
ë‹¹ê¸°ìˆœì´ìµ          object
ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)      object
ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)      int64
ìì‚°ì´ê³„           object
ë¶€ì±„ì´ê³„           object
ìë³¸ì´ê³„           object
ìë³¸ì´ê³„(ì§€ë°°)       object
ìë³¸ì´ê³„(ë¹„ì§€ë°°)     float64
ìë³¸ê¸ˆ            object
ì˜ì—…í™œë™í˜„ê¸ˆíë¦„       object
íˆ¬ìí™œë™í˜„ê¸ˆíë¦„       object
ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„       object
ì˜ì—…ì´ìµë¥          float64
ìˆœì´ìµë¥           float64
ROE(%)        float64
ROA(%)        float64
ë¶€ì±„ë¹„ìœ¨          float64
ìë³¸ìœ ë³´ìœ¨         float64
EPS(ì›)         object
PER(ë°°)        float64
ì˜ì—…ì´ìµë¥ 2        float64
dtype: object

In [ ]:
# 18/19 ë…„ë„ PDR ê³„ì‚°

# PDR : ì‹œê°€ì´ì•¡ / (ì „ì²´ ì‹œì¥ ê·œëª¨(TAM) * (ì‹œì¥ì ìœ ìœ¨/100)) * 100
df2 = pd.DataFrame({'êµ¬ë¶„':['18ë…„','19ë…„'], 
                    'ì¢…ê°€':[101500,93800], 
                    'ë°œí–‰ì£¼ì‹ìˆ˜':[137292497,137292497],
                    'ì‹œê°€ì´ì•¡':[13935188445500,12878036218600],
                    'ì‹œì¥ì ìœ ìœ¨':[62.0,63.5]})                    # DataFrameìœ¼ë¡œ ë§Œë“¤ì–´ì£¼ê¸°
df2['PDR'] = df2['ì‹œê°€ì´ì•¡']/(15000000000000*(df2['ì‹œì¥ì ìœ ìœ¨']/100))*100 # 'PDR' ì¶”ê°€
df2

    êµ¬ë¶„      ì¢…ê°€      ë°œí–‰ì£¼ì‹ìˆ˜            ì‹œê°€ì´ì•¡  ì‹œì¥ì ìœ ìœ¨         PDR
0  18ë…„  101500  137292497  13935188445500   62.0  149.840736
1  19ë…„   93800  137292497  12878036218600   63.5  135.202480

## 2. String Manipulation

- replaceê°€ ì•„ë‹Œ ë‹¤ë¥¸ ë°©ë²•ì„ ì‚¬ìš©í•˜ì—¬ 19ë…„ë„ 2ë¶„ê¸°ì˜ ë§¤ì¶œì•¡ ì„ integerë¡œ ë³€ê²½í•˜ì„¸ìš”. ê²°ê³¼ê°’ì€ 12578ì´ ë‚˜ì™€ì•¼í•©ë‹ˆë‹¤.

In [ ]:
# 19ë…„ë„ 2ë¶„ê¸° ë§¤ì¶œì•¡ integerë¡œ ë³€ê²½

df['ë§¤ì¶œì•¡'] = df['ë§¤ì¶œì•¡'].astype(int)

df['ë§¤ì¶œì•¡'][0]

12578

## 3. Apply
- ë°ì´í„°ì…‹ì˜ ë¶„ê¸°ë¥¼ ì œì™¸í•œ ëª¨ë“  featureì— ëŒ€í•´ì„œ ìˆ˜ì¹˜í˜• ë°ì´í„° (`int`, `float`) ë¡œ ìˆ˜ì •í•˜ê³ , `describe`ë¥¼ í†µí•´ summary statistics ë¥¼ í™•ì¸í•˜ì„¸ìš”.
- ë‹¨ ê²°ì¸¡ì¹˜ëŠ” `0`ìœ¼ë¡œ ì²˜ë¦¬í•©ë‹ˆë‹¤.

In [ ]:
# ë°ì´í„°ì…‹ì˜ ë¶„ê¸°ë¥¼ ì œì™¸í•œ ëª¨ë“  featureì— ëŒ€í•´ì„œ ìˆ˜ì¹˜í˜• ë°ì´í„° (int, float) ë¡œ ìˆ˜ì •í•˜ê³ , describeë¥¼ í†µí•´ summary statistics ë¥¼ í™•ì¸

#regex=True : delete all comma
df_edit = df.columns[1:] # ì œì¼ ì²˜ìŒ column ì œê±°

df[df_edit] = df[df_edit].replace(',','',regex= True).astype(float)
df.dtypes

# ê²°ì¸¡ì¹˜ 0ìœ¼ë¡œ ëŒ€ì¹˜
df.fillna(0)
df.describe()

                ë§¤ì¶œì•¡         ì˜ì—…ì´ìµ  ...     PER(ë°°)     ì˜ì—…ì´ìµë¥ 2
count      5.000000     5.000000  ...   5.000000   5.000000
mean   12550.800000  3487.200000  ...  12.046000  27.676000
std      664.979097   636.931079  ...   1.898112   4.115651
min    11784.000000  2523.000000  ...   9.710000  21.060000
25%    11982.000000  3150.000000  ...  10.460000  26.730000
50%    12578.000000  3825.000000  ...  12.420000  28.930000
75%    13188.000000  3947.000000  ...  13.770000  29.930000
max    13222.000000  3991.000000  ...  13.870000  31.730000

[8 rows x 25 columns]

## ğŸ”¥ ë„ì „ê³¼ì œ

### NA Value Handling

- 19ë…„ë„ 4ë¶„ê¸°ì˜ ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°) ë¶€ë¶„ì„ Naë¡œ ëŒ€ì²´í•˜ì„¸ìš”
- ì´í›„ í•´ë‹¹ ê²°ì¸¡ì¹˜ë¥¼ mean imputation ë°©ë²•ì„ ì‚¬ìš©í•˜ì—¬ ì²˜ë¦¬í•˜ì„¸ìš”.

In [ ]:
# 19ë…„ë„ 4ë¶„ê¸°ì˜ ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°) ë¶€ë¶„ì„ Naë¡œ ëŒ€ì²´

df.iloc[2,7] = 'NaN'

# í•´ë‹¹ ê²°ì¸¡ì¹˜ë¥¼ mean imputation ë°©ë²•ì„ ì‚¬ìš©í•˜ì—¬ ì²˜ë¦¬

import numpy as np
from sklearn.impute import SimpleImputer

#npëŠ” NaNì„ ì²˜ë¦¬í•´ì„œ Nan ìœ¼ë¡œ ë°”ê¿”ì¤Œ! 
imputer = SimpleImputer(missing_values=np.nan,strategy = 'mean')
answer = imputer.fit_transform(df[['ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)','ìë³¸ì´ê³„(ë¹„ì§€ë°°)']])
df[['ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)','ìë³¸ì´ê³„(ë¹„ì§€ë°°)']] = answer
df[['ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)','ìë³¸ì´ê³„(ë¹„ì§€ë°°)']].isnull().sum()

df

      ë¶„ê¸°      ë§¤ì¶œì•¡    ì˜ì—…ì´ìµ  ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ...   ìë³¸ìœ ë³´ìœ¨  EPS(ì›)  PER(ë°°)  ì˜ì—…ì´ìµë¥ 2
0   19/6  12578.0  3991.0      3991.0  ...  803.22  2351.0   13.77   31.73
1   19/9  13222.0  3825.0      3825.0  ...  836.86  2337.0   13.87   28.93
2  19/12  11982.0  2523.0      2523.0  ...  850.82   873.0   12.42   21.06
3   20/3  11784.0  3150.0      3150.0  ...  823.16  2134.0    9.71   26.73
4   20/6  13188.0  3947.0      3947.0  ...  837.40  2135.0   10.46   29.93

[5 rows x 26 columns]

### Feature Engineering

Relative Perfomance ë¼ëŠ” ìƒˆë¡œìš´ featureë¥¼ ê³„ì‚°í•˜ì„¸ìš”.

ì´ëŠ” ìµœê·¼ 1ë…„ì¹˜ ë§¤ì¶œì•¡ì˜ í‰ê· ê°’ì„ ê¸°ì¤€ìœ¼ë¡œ 

- 10% ì´ìƒ -> `S`
- 5% ì´ìƒ -> `A`
- -5 ~ 5% -> `B`
- -5%ì´í•˜ -> `C`
- 10%ì´í•˜ -> `D`

ë¼ëŠ” ê°’ì„ ê°–ëŠ” featureì…ë‹ˆë‹¤.

20ë…„ë„ 2ë¶„ê¸°ì— í•´ë‹¹í•˜ëŠ” ê²°ê³¼ê°’ì€ `A`ê°€ ë‚˜ì™€ì•¼í•©ë‹ˆë‹¤.

ê°ê°ì— í•´ë‹¹í•˜ëŠ” ë“±ê¸‰ì´ ë‚˜ì˜¤ê¸° ìœ„í•´ì„œ í•„ìš”í•œ ë§¤ì¶œì•¡ì„ ì¶”ê°€ë¡œ ì„œìˆ í•˜ì„¸ìš”.

In [ ]:
# Relative Perfomance ë¼ëŠ” ìƒˆë¡œìš´ featureë¥¼ ê³„ì‚°

# 4ë¶„ê¸°ì˜ í‰ê·  ê³„ì‚°

mean2 = df.iloc[1:, 1].sum() / 4
print('mean2:',mean2)

# ì ìˆ˜ ê³„ì‚° : í‰ê· ë§¤ì¶œì•¡ * 110%, 105%, 105-95%, 90%
for idx, i in enumerate(df['ë§¤ì¶œì•¡']):
  print(i,idx)
  if i >= (mean2*1.1):
    df['Relative Performance'][idx] = 'S'
  elif i>= (mean2*1.05):
    df['Relative Performance'][idx] = 'A'
  elif i>= (mean2*0.95):
    df['Relative Performance'][idx] = 'B'
  elif i>= (mean2*0.9):
    df['Relative Performance'][idx] = 'C'
  else:
    df['Relative Performance'][idx] = 'D'

# ê°ê°ì— í•´ë‹¹í•˜ëŠ” ë“±ê¸‰ì´ ë‚˜ì˜¤ê¸° ìœ„í•´ í•„ìš”í•œ ë§¤ì¶œì•¡

print('S :', round(mean2*1.1,2))
print('A :', round(mean2*1.05,2))
print('B :', round(mean2*0.95,2))
print('C :', round(mean2*0.9,2))
print('D :', round(mean2*0.9,2))

df

mean2: 12544.0
12578.0 0
13222.0 1
11982.0 2
11784.0 3
13188.0 4
S : 13798.4
A : 13171.2
B : 11916.8
C : 11289.6
D : 11289.6

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

      ë¶„ê¸°      ë§¤ì¶œì•¡    ì˜ì—…ì´ìµ  ...  PER(ë°°)  ì˜ì—…ì´ìµë¥ 2  Relative Performance
0   19/6  12578.0  3991.0  ...   13.77   31.73                     B
1   19/9  13222.0  3825.0  ...   13.87   28.93                     A
2  19/12  11982.0  2523.0  ...   12.42   21.06                     B
3   20/3  11784.0  3150.0  ...    9.71   26.73                     C
4   20/6  13188.0  3947.0  ...   10.46   29.93                     A

[5 rows x 27 columns]